@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f8f5f5;
}
main{
    width: 80%;
    margin: 0 auto;
}
section{
    margin-top: 30px;
}
.first-info{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
}
.first-info h1{
    font-weight: 700px;
    font-size: 2em;
    margin-bottom: 0;
}
.btn{
    background-color: #E02C6D;
    color: white;
    width: 40%;
    border: none;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 20px;
}
.first-section{
    display: flex;
    justify-content:space-between
}

.main-camera img{
  
   padding: 30px;
   background-image: url(images/Circle\ design.svg);
   background-repeat: no-repeat;
}
/* section 1 complete */
.secound-section h1{
    text-align: center;
}
.container{
     background-color: rgb(235, 235, 235);
     padding: 20px;
     border-radius: 10px;
     line-height: 1.2em;
     justify-content: center;
     display: flex;
     flex-direction: column;
}
.containers{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 25px;
}
.secound-section>div>a{
    text-decoration: none;
    color: #E02C6D;
    padding: 0,15px;
    font-size: 20px;
}
.link-style{
   
    text-align: right;
}
.secound-section p, span{
    color: #787885;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}


/* footer start */
footer{
    color: white;
      background-color: rgb(14, 14, 34);
      text-align: center;
      padding: 10px;
      line-height: 1em;
}
.fab{
    font-size: 15px;
}
/* footer end  */

@media only screen and (max-width:688px) {
       .first-section{
           display: flex;   
           flex-direction: column-reverse
        }
        .first-info{
            width:100vh;
        }
     .secound-section{
         width: 100vh;
     }
      .containers{
        grid-template-columns: repeat(1,1fr);
      }
      .link-style{
          text-align: center;
      }
      footer{
          width: 110vh;
      }
}